.profile {
   max-width: 410px;
   width: 100%;
   background-color: #FFF;
   margin: 74px auto 70px;
   text-align: center;
}

.profile__title {
   color: #000;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin: 0 auto 123px;
}

.profile__fieldset {
   margin: 0;
   padding: 0;
   border: none;
   display: flex;
   flex-direction: column;
}

.profile__label {
   color: #000;
   font-size: 11px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.profile__input {
   max-width: 122px;
   width: 100%;
   color: #000;
   text-align: right;
   font-size: 11px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding: 0;
   border: none;
}

.profile__input:focus {
   outline: none;
   border-bottom: 1px solid #3456F3;
}

.profile__input-error {
   text-align: end;
   height: 12px;
   min-height: 10px;
   color: #FF3055;
   font-size: 9px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.profile__input-error_name {
   margin: 5px 0 17px;
   border-bottom: 1px solid #E8E8E8;
}

.profile__input-error_email {
   border-bottom: none;
}

.profile__show-message {
   margin-top: 191px;
}

.profile__server-message {
   height: 24px;
   color: green;
}

.profile__error-message {
   height: 24px;
   color: red;
}

.profile__button {
   max-width: 410px;
   width: 100%;
   height: 16px;
   color: #000;
   text-align: center;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   border: none;
   padding: 0;
   background-color: transparent;
   transition: all 0.3s;
}

.profile__button:hover {
   cursor: pointer;
   opacity: 0.8;
}

.profile__button:disabled {
   color: #C2C2C2;
}

.profile__button-signout {
   text-decoration: none;
   color: #FF3055;
   font-weight: 500;
   margin: 16px auto 0;
}

@media screen and (max-width: 920px) {
   .profile {
      margin: 236px auto 269px;
   }
   
   .profile__title {
      margin: 0 auto 96px;
   }

   .profile__button-signout {
      color: #FF3055;
      font-weight: 500;
      margin: 16px auto 0;
   }
}

@media screen and (max-width: 400px) {
   .profile {
      max-width: 320px;
      margin: 70px auto 40px;
   }
   
   .profile__title {
      margin: 0 auto 80px;
   }

   .profile__fieldset {
      margin: 0 auto;
      max-width: 260px;
   }

   .profile__input {
      max-width: 122px;
      font-weight: 500;
   }
   
   .profile__button {
      margin: 372px 0 16px 0;
      font-size: 12px;
   }

   .profile__button-signout {
      margin: 0 auto;
   }
}