.searchform {
   padding: 0 70px;
   margin: 70px auto 48px;
   border: none;
   background-color: #FFF;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.searchform__form {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #E8E8E8;
   margin-bottom: 33px;
}

.searchform__input {
   padding: 0;
   margin-bottom: 13px;
   color: #A0A0A0;
   font-size: 28px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   border: none;
   max-width: 900px;
   width: 100%;
}

.searchform__input:focus {
   outline: none;
}

.searchform__button {
   width: 58.65px;
   height: 34px;
   border: none;
   border-radius: 48px;
   background: #3456F3;
   color: #FFF;
   text-align: center;
   font-size: 11px;
   font-style: normal;
   font-weight: 500;
   line-height: 18px;
}