.filter {
   display: flex;
   align-items: center;
}

.filter__switch {
   display: flex;
   flex-direction: row-reverse;
   position: relative;
   color: #000;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}

.filter__checkbox {
   position: absolute;
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip-path: inset(0 0 0 0);
}

.filter__checkbox-button {
   display: inline-block;
   position: relative;
   padding-left: 50px;
}

.filter__checkbox-button:hover {
   cursor: pointer;
}

.filter__checkbox-button::before {
   display: block;
   content: "";
   position: absolute;
   left: 0;
   top: 2px;
   width: 34px;
   height: 14px;
   background-color: #EBEBEB;
   border-radius: 16px;
   box-sizing: border-box;
   transition: background-color .3s;
}

.filter__checkbox-button::after {
   display: block;
   content: "";
   position: absolute;
   left: 3.5px;
   top: 4px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #FFFFFF;
   transition: left .3s;
}

.filter__checkbox:checked + .filter__checkbox-button::before {
   background-color: #2BE080;
}

.filter__checkbox:checked + .filter__checkbox-button::after {
   left: 21px;
}

@media screen and (max-width: 920px) {
   .filter {
      flex-direction: row-reverse;
   }
   
   .filter__switch {
      width: 169px;
      flex-direction: row;
      justify-content: space-between;
   }
   
   .filter__checkbox-button {
      padding-left: 35px;
   }
}

@media screen and (max-width: 400px) {
   .filter {
      justify-content: center;
   }
   
   .filter__switch {
      width: 147px;
      font-size: 11px;
   }
   
   .filter__checkbox-button {
      padding-left: 34px;
   }
}